[submodule "home/.oh-my-zsh"]
  path = home/.oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
  ignore = dirty
[submodule "home/.vim/bundle/vim-fugitive"]
  path = home/.vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "home/.vim/bundle/vim-gitgutter"]
  path = home/.vim/bundle/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter.git
  ignore = dirty
[submodule "home/.vim/bundle/supertab"]
  path = home/.vim/bundle/supertab
  url = https://github.com/ervandew/supertab.git
  ignore = dirty
[submodule "home/.vim/bundle/ctrlp.vim"]
  path = home/.vim/bundle/ctrlp.vim
  url = https://github.com/kien/ctrlp.vim.git
  ignore = dirty
[submodule "home/.vim/bundle/vim-colors-solarized"]
  path = home/.vim/bundle/vim-colors-solarized
  url = https://github.com/altercation/vim-colors-solarized.git
  ignore = dirty
[submodule "home/.vim/bundle/tcomment.vim"]
  path = home/.vim/bundle/tcomment.vim
  url = https://github.com/tomtom/tcomment_vim
  ignore = dirty
[submodule "home/.vim/bundle/vim-rspec"]
  path = home/.vim/bundle/vim-rspec
  url = https://github.com/thoughtbot/vim-rspec
  ignore = dirty
[submodule "home/.vim/bundle/vim-surround"]
  path = home/.vim/bundle/vim-surround
  url = https://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "home/.vim/bundle/lightline.vim"]
  path = home/.vim/bundle/lightline.vim
  url = https://github.com/itchyny/lightline.vim.git
  ignore = dirty
[submodule "home/.vim/bundle/syntastic"]
  path = home/.vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
  ignore = dirty
[submodule "home/.vim/bundle/vim-dispatch"]
  path = home/.vim/bundle/vim-dispatch
  url = https://github.com/tpope/vim-dispatch.git
  ignore = dirty
[submodule "home/.vim/bundle/tabline.vim"]
  path = home/.vim/bundle/tabline.vim
  url = https://github.com/mkitt/tabline.vim.git
  ignore = dirty
[submodule "misc/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  path = misc/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting.git
  ignore = dirty
