[submodule "home/.vim/bundle/vim-fugitive"]
  path = home/.vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "home/.vim/bundle/supertab"]
  path = home/.vim/bundle/supertab
  url = https://github.com/ervandew/supertab.git
  ignore = dirty
[submodule "home/.vim/bundle/ctrlp.vim"]
  path = home/.vim/bundle/ctrlp.vim
  url = https://github.com/kien/ctrlp.vim.git
  ignore = dirty
[submodule "home/.vim/bundle/tcomment.vim"]
  path = home/.vim/bundle/tcomment.vim
  url = https://github.com/tomtom/tcomment_vim.git
  ignore = dirty
[submodule "home/.vim/bundle/vim-surround"]
  path = home/.vim/bundle/vim-surround
  url = https://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "home/.vim/bundle/lightline.vim"]
  path = home/.vim/bundle/lightline.vim
  url = https://github.com/itchyny/lightline.vim.git
  ignore = dirty
[submodule "home/.vim/bundle/syntastic"]
  path = home/.vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
  ignore = dirty
[submodule "home/.vim/bundle/vim-slime"]
  path = home/.vim/bundle/vim-slime
  url = https://github.com/jpalardy/vim-slime.git
  ignore = dirty
[submodule "home/.oh-my-zsh"]
  path = home/.oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
  ignore = dirty
[submodule "home/.vim/bundle/vim-fish"]
  path = home/.vim/bundle/vim-fish
  url = https://github.com/dag/vim-fish.git
  ignore = dirty
[submodule "home/.vim/bundle/vim-elixir"]
  path = home/.vim/bundle/vim-elixir
  url = https://github.com/elixir-lang/vim-elixir.git
  ignore = dirty
