.abrc
.abrc-*
.branches
.classpath
.ctrlp
.eggs
.local
.lsyncd
.nogitbranch
.nogitdirty
.nogitstatus
.notags
.pmd
.pmdruleset.xml
.project
.python_environment
.python_environment-*
.realsync
.reviewboardrc
.ruby_environment
.ruby_environment-*
.settings
.workonrc

*.o
*.pyc

custom_plan.rb
tags
tags.*
zeus.json

TODO
