\#*\#

.DS_Store
.branches
.classpath
.confluence-url
.ctrlp
.eggs
.github-url
.jenkins-url
.jira-url
.local
.noenvironmentinfo
.nogitbranch
.nogitdirty
.nogitstatus
.notags
.pmd
.pmdruleset.xml
.project
.settings

*.o
*.pyc

/.my.cnf
/.pgpass
