\#*\#

.bitbucket-url
.branches
.classpath
.claude
.confluence-url
.ctrlp
.cursor
.DS_Store
.eggs
.github-url
.jenkins-url
.jira-url
.local
.noenvironmentinfo
.nogitbranch
.nogitdirty
.nogitstatus
.notags
.pmd
.pmdruleset.xml
.project
.psql-command-proxy-env
.settings

*.o
*.pyc

/.my.cnf
/.pgpass
