[alias]
  ann = annotate
  br = branch
  ci = commit
  co = checkout
  del = rm
  delete = rm
  di = !git diff --color --exit-code | less -F -X && git diff --color --cached | less -F -X
  get = !git pull && git submodule init && git submodule update
  h = help
  move = mv
  praise = blame
  put = push origin HEAD
  rb = rebase
  remove = rm
  ren = mv
  rename = mv
  rmlocal = !sh -c \"git br -D \\$0\"
  rmremote = !sh -c \"git push origin :heads/\\$0\"
  rmsubmodule = "!f(){ git rm --cached \"$1\";rm -r \"$1\";git config -f .gitmodules --remove-section \"submodule.$1\";git config -f .git/config --remove-section \"submodule.$1\";git add .gitmodules; }; f"
  st = status
  stat = status
  unci = reset HEAD^
  uncommit = reset HEAD^
  unst = reset HEAD
  unstage = reset HEAD
[apply]
  whitespace = nowarn
[branch]
  autosetuprebase = always
[branch "master"]
  rebase = true
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
[init]
  templatedir = ~/.git_template
[push]
  default = tracking
