[core]
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore
[branch]
	autosetuprebase = always
	autosetupmerge = true
[branch "master"]
	rebase = true
[push]
	default = tracking
[rebase]
	autosquash = true
[rerere]
	enabled = true
